.App {
  text-align: center;
  margin-top: 2%;
}
.cards {
  margin-top: 8%;
}
.linkedin {
  float: right;
  margin-right: 10%;
  margin-top: 1%;
}
.github {
  float: left;
  margin-left: 10%;
  margin-top: 1%;
}
